:root {
    --hover-bg-color: rgb(114, 13, 182);
    --active-bg-color: rgb(81, 88, 126);
  }
  
  .nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 30px;
  }
  
  .siteTitle {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
  }
  
  .nav li.active {
    color: var(--active-bg-color);
  }
  
  .nav li:hover {
    color: var(--hover-bg-color);
  }

  h3{
    color:var(--hover-bg-color)
  }